<nav class="navbar navbar-expand-md navbar-dark bg-info">
  <a class="navbar-brand" href="" routerLink="#">MovieSNow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item"><a href="" routerLink="#" class="nav-link">home</a></li>
        <li class="nav-item"><a href="" routerLink="/usermovie" class="nav-link">View movies</a></li>
        <li class="nav-item"><a href="" routerLink="/mybooking" class="nav-link">my bookings</a></li>        
        <li><a class="nav-link" (click)="logout()">Logout</a></li>


    </ul>

  </div>
</nav>
<main role="main" class="container mt-5">
  <div class="container">
    <div class="mt-2">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <img class="" src="../assets/homepage.png" height="500" width="500" alt="movie" srcset="">
        </div>
        <div class="col-md-6 col-xs-12 slogan text-warning">
            <h1 style="font-size: 6vw; text-align: center;">
              Get the best seat to your cinematic treat
            </h1>
        </div>
      </div>
    </div>
  </div>
</main>
