<app-navbar></app-navbar>
<section class="register-block">
    <div class="container">
        <div class="row ">
            <div class="col register-sec">
                <h2 class="text-center">Forget password</h2>
                <form class="register-form" action="" #f="ngForm" ngNativeValidate (ngSubmit)="register()">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Nickname</label>

                        <input type="text" class="form-control" name="name" id="" [(ngModel)]="nickname" #name="ngModel" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">New-Password</label>

                        <input type="password" name="password" class="form-control" id="" [(ngModel)]="password" #email="ngModel" required minlength="8">

                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-login float-right" value="Change password">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        Changed password..? Please <a href="javascript:void(0);" routerLink="/">Login</a>
                    </div>


                </form>


            </div>

        </div>


    </div>
</section>